// Here are some example configurations for keybinds and others in the niri config.
workspace scratchpad
spawn-at-startup niri msg action focus-workspace-down
binds {
    Mod+Shift+T {
        spawn nirimgr scratch spawn-or-focus special-term
    }
    Mod+S {
        spawn nirimgr scratch move
    }
    Mod+Shift+S {
        spawn nirimgr scratch show
    }
    Mod+Return {
        spawn nirimgr scratch spawn-or-focus special-files
    }
    Mod+Shift+B {
        spawn nirimgr scratch spawn-or-focus special-btop
    }
    Mod+Shift+M {
        spawn nirimgr scratch spawn-or-focus deezer
    }
    Mod+Shift+C {
        spawn nirimgr scratch spawn-or-focus Slack
    }
    Mod+Ctrl+H {
        spawn-sh "nirimgr floating move left || niri msg action move-column-left-or-to-monitor-left"
    }
    Mod+Ctrl+J {
        spawn-sh "nirimgr floating move down 4 || niri msg action move-window-down-or-to-workspace-down"
    }
    Mod+Ctrl+K {
        spawn-sh "nirimgr floating move up || niri msg action move-window-up-or-to-workspace-up"
    }
    Mod+Ctrl+L {
        spawn-sh "nirimgr floating move right 4 || niri msg action move-column-right-or-to-monitor-right"
    }
    Alt+Tab {
        spawn nirimgr switch-window
    }
}

